{
  "class": "AS3",
  "action": "deploy",
  "persist": true,
  "declaration": {
    "class": "ADC",
    "schemaVersion": "{{ schemaVersion }}",
    "id": "{{ id }}",
    "label": "{{ tenant }}",
    "remark": "{{ remark }}",
    "{{ tenant }}":
    {
{{ appList }}
      "class": "Tenant"
    }
  }
}
